.button {
  display: inline-block;
  background-color: $button-color;
  text-decoration: none;
  color: $button-text-color;
  padding: 10px 0;
  width: 100%;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: normal;
  border: none;
  font-family: $font;

  &:hover {
    background-color: $button-hover-color;
  }

  &:active {
    color: $button-active-color;
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 280px;
    height: 52px;
    margin-bottom: 0;
  }
}


@media (min-width: $desktop-width) {
  .button {
    width: 568px;
  }
}
