.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-goods__wrapper__catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__title {
  color: $dark;
  text-align: left;
  padding-bottom: 41px;
}


@media (min-width: $mobile-width-only) {
  .catalog__title {
    padding-bottom: 145px;
  }
}

@media (min-width: $tablet-width) {
  .catalog__title {
    padding-top: 50px;
    padding-bottom: 50px;
  }


  .catalog__list {
    margin-top: 114px;
  }

  .additional-goods__wrapper__catalog__list {
    margin-top: 114px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    padding-top: 71px;
  }
}
