.center {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1220px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}


@media (min-width: $tablet-width) {
  .container {
    padding: 0 40px;
  }
}
