.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 114px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding: 0 80px;
  }
}
