.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $dark;
  font-family: $font;
  font-weight: medium;
}

.page-header__container {
  min-height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
}

.page-header__button-wrapper {
  width: 24px;
}

.page-header__logo__second {
  padding-top: 5px;
}

.block-title {
  text-align: center;
  margin: 0;
  padding-top: 27px;
}

.main-nav {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 440px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: $dark;
}

@media (max-width: $mobile-width-only) {
  .page-header--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav__link {
    position: relative;
    display: block;
    padding: 24px 0;
    text-align: center;
    background-color: $white;
    margin: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -74px;
      width: 320px;
      border-top: 1px solid #e6e6e6;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 68px;
      left: -74px;
      width: 320px;
      border-top: 1px solid #e6e6e6;
    }
  }

  .main-nav--nojs .page-header__toogle {
    display: none;
  }

  .page-header--opened .page-header__toogle {
    top: 10px;

    left: 3px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 13px;
      left: -1px;
      width: 25px;
      height: 2px;
      background-color: $dark;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .page-header__toogle {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 2;
    display: block;
    width: 24px;
    height: 30px;
    background-color: $white;
    cursor: pointer;
    border: none;

    &:hover,
    &:active {
      background-color: $white;
    }
  }

  .page-header--closed .page-header__toogle::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 1px;
    width: 24px;
    height: 2px;
    background-color: $button-text-color;
    box-shadow: 0 2px 0 0 $dark, 0 10px 0 0 $dark, 0 18px 0 0 $dark;
  }

  .page-header__button-wrapper {
    position: relative;
    min-height: 51px;
  }
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    flex-direction: row;
  }

  .page-header__logo__second {
    display: none;
  }

  .page-header__toogle {
    display: none;
  }

  .page-header__container {
    width: 174px;
  }

  .main-nav {
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: $font;
  }

  .main-nav__list {
    min-width: 440px;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__link {
    &:hover {
      color: $nav-hover-tablet;
    }

    &:active {
      color: $nav-active-color;
    }
  }

  .main-nav__item {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -10px;
        left: 0;
        height: 3px;
        background: $nav-active-bottom;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link__index {
    color: $button-text-color;

    &:hover {
      color: #c4dfb4;
    }

    &:active {
      color: #94c377;
    }
  }

  .main-nav__item {
    &--active {
      position: relative;

      &::after {
        background: $nav-active-bottom;
      }
    }

    &__index {
      &::after {
        background: $button-text-color;
      }
    }
  }
}
