.page-footer__bottom-wrapper {
  padding-top: 39px;
  background-color: $background-color-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts__title {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font;
  text-transform: uppercase;
  font-weight: normal;
  color: #111111;
  max-width: 140px;
}

.contacts__text {
  line-height: 20px;
  margin: 0;
}

.page-footer__card {
  padding: 0;
  display: flex;
  justify-content: center;
}

.page-footer__bottom {
  background-color: $background-color-block;
}

.page-footer__logo {
  padding-bottom: 32px;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 0 0 $program__subtitle-shadow-color;
}

.social {
  display: flex;
  width: 100%;
  padding: 25px 0;
  justify-content: center;
  box-shadow: 0 2px 0 0 $program__subtitle-shadow-color;
}

.social__list {
  display: flex;
  width: 130px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.copyright__link {
  text-decoration: none;
  color: $special_dark-grey;
}

.copyright {
  display: flex;
  padding: 22px 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social-icon {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .page-footer__bottom-wrapper {
    flex-direction: row;

    justify-content: space-between;
    min-height: 150px;
    box-shadow: none;
    padding-top: 0;
  }

  .contacts {
    height: 200px;
  }

  .contacts__title {
    font-size: 20px;
  }

  .contacts__text {
    font-size: 16px;
    width: 155px;
  }

  .social {
    box-shadow: none;
  }

  .page-footer__logo {
    box-shadow: none;
    padding: 0;
    max-width: 128px;
  }

  .copyright {
    max-width: 163px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper__contacts {
    position: relative;
  }

  .page-footer__wrapper .contacts {
    background-color: $button-text-color;
  }

  .page-footer__contacts {
    position: absolute;

    left: 155px;
    top: 100px;
    background-color: red;
    width: 405px;
    height: 201px;
    padding: 0 89px 0 76px;
  }
}
