.page {
  height: 100%;
  font-size: 14px;
  font-style: normal;
  font-family: "Osvald", "Arial", sans-serif;
}

.page__body {
  min-width: 320px;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  line-height: 1.2;
  font-weight: 400;
  background-color: $white;
  background-position: top center;
  background-repeat: no-repeat;
  color: $special_dark-grey;
}
