.page-footer__bottom-wrapper {
  padding-top: 39px;
  background-color: $background-color-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-footer__wrapper__contacts {
  background-color: $background-color-block;
  z-index: -1;
}

.page-footer__wrapper__contacts_index .contacts {
  background-color: $button-text-color;
}

.page-footer__wrapper__contacts_index {
  background-color: $button-text-color;
}

.page-footer__card {
  padding: 0;
  display: flex;
  justify-content: center;
  height: 362px;
}

.page-footer__bottom {
  background-color: $background-color-block;
}

.page-footer__logo {
  padding-bottom: 28px;
  text-align: center;
  width: 100%;
  box-shadow: 0 1px 0 0 $program__subtitle-shadow-color;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}


.page-footer__link {
  fill: $nav-hover-tablet;
  text-decoration: none;
  color: $special_dark-grey;

  &:hover {
    fill: $button-color;
  }

  &:active {
    opacity: 0.7;
  }
}


.footer__copyright {
  display: flex;
  padding: 22px 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.footer__map {
  width: 100%;
  height: 362px;
  padding: 0;
  margin: 0;
  z-index: -2;
  position: absolute;
}


@media (min-width: $tablet-width) {
  .page-footer__bottom-wrapper {
    flex-direction: row;
    justify-content: space-between;
    min-height: 150px;
    box-shadow: none;
    padding-top: 0;
  }

  .footer__map {
    height: 400px;
  }

  .social {
    box-shadow: none;
  }

  .page-footer__logo {
    box-shadow: none;
    padding: 0;
    max-width: 128px;
  }

  .footer__copyright {
    max-width: 163px;
  }

  .page-footer__card {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper__contacts {
    position: relative;
  }

  .page-footer__wrapper .contacts {
    background-color: $button-text-color;
  }

  .page-footer__contacts {
    position: absolute;

    left: 30px;
    top: 90px;
    background-color: red;
    width: 410px;
    height: 201px;
  }
}
