.program__item {
  background-color: $background-color-block;
  flex-direction: row;
  justify-content: space-between;
}

.program__subtitle {
  font-family: $font;
  font-size: 24px;
  line-height: 0, 6;
  color: $dark;
}

.program__description {
  font-size: 1;
}

.program__link {
  font-family: $font;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  color: $dark;
}

.program__list {
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop-width) {
  .program__item {
    max-width: 570px;
  }
}
