.program__item {
  background-color: $background-color-block;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 30px 30px 22px 20px;
}

.program__subtitle {
  font-family: $font;
  font-size: 24px;
  line-height: 1.5;
  color: $dark;
  margin-left: 91px;
  margin-top: 0;
}

.program__subtitle__slim {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -90px;
    height: 53px;
    width: 50px;
    background-size: cover;

    background-image: url("./../../img/cat-back.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("./../../img/cat-back@2x.png");
    }
  }
}

.program__subtitle__pro {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -90px;
    height: 50px;
    width: 67px;
    background-size: cover;

    background-image: url("./../../img/cat-walk.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("./../../img/cat-walk@2x.png");
    }
  }
}

.program__description {
  font-size: 14px;
  line-height: 1.3;
  padding-bottom: 23px;
  margin-bottom: 19px;
  box-shadow: 0 2px 0 0 $program__subtitle-shadow-color;
}

.program__link {
  font-family: $font;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  color: $dark;

  &:active {
    color: $nav-active-color;
  }
}

.program__list {
  display: flex;
  flex-direction: column;
}

.program__link-img {
  padding-left: 15px;
}

@media (min-width: $tablet-width) {
  .program {
    margin-top: 45px;
  }

  .program__item {
    min-height: 238px;
    padding: 77px 52px 59px 52px;
  }

  .program__subtitle {
    margin-left: 0;
    font-size: 36px;
    line-height: 1;
  }

  .program__description {
    box-shadow: none;
    font-size: 16px;
    max-width: 377px;
  }

  .program__link {
    font-size: 20px;
    line-height: 1.5;
  }

  .program__subtitle__slim {
    &::after {
      top: 10px;
      left: 400px;
      height: 211px;
      width: 200px;
      background-image: url("./../../img/cat-back-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("./../../img/cat-back-tablet@2x.png");
      }
    }
  }

  .program__subtitle__pro {
    &::after {
      top: 10px;
      left: 370px;
      height: 200px;
      width: 268px;
      background-image: url("./../../img/cat-walk-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("./../../img/cat-walk-tablet@2x.png");
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .program__subtitle {
    margin-left: 162px;
    margin-bottom: 72px;
  }

  .program__item {
    min-width: 467px;
  }

  .program__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .program__description {
    min-width: 467px;
  }

  .program__wrapper {
    padding: 0;
  }

  .program__subtitle__slim {
    position: relative;

    &::after {
      top: -35px;
      left: -160px;
      height: 106px;
      width: 100px;

      background-image: url("./../../img/cat-back-desktop.png");
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("./../../img/cat-back-desktop@2x.png");
      }
    }
  }

  .program__subtitle__pro {
    position: relative;

    &::after {
      top: -35px;
      left: -170px;
      height: 100px;
      width: 134px;

      background-image: url("./../../img/cat-walk-desktop.png");
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("./../../img/cat-walk-desktop@2x.png");
      }
    }
  }
}
