.program-header {
  position: relative;
  padding: 0;
}

.program-header__img {
  position: absolute;
  left: 20px;
  top: 160px;
}

.program-header__wrapper {
  color: $white;
  background-image: linear-gradient($background-color, $background-color),
    url("../img/cat.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  height: 302px;
  width: 320px;
  font-family: $font;
  text-align: center;
  padding: 0;
}

.program-header__slogan {
  line-height: 14px;
}

.program-header__button-wrapper {
  margin-top: 138px;
}

@media (min-width: $tablet-width) {
  .program-header__wrapper {
    color: $dark;
    background-image: none;
    width: 100%;
    padding-top: 55px;
    height: 80px;
    padding-left: 10px;
  }

  .program-header__button-wrapper {
    margin-top: 148px;
    margin-left: 5px;
  }

  .program-header {
    height: 800px;
  }

  .program-header__slogan {
    text-align: left;
    padding-top: 20px;
    font-size: 20px;
    line-height: 1;
  }

  .program-header__wrapper .block-title {
    width: 550px;
    padding-top: 0;
  }

  .program-header__img {
    left: -45px;
    top: 255px;
    z-index: -1;
  }

  .program-header__button-wrapper .button {
    width: 244px;
    height: 33px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .program-header__wrapper {
    color: $dark;
    background-image: none;
    margin-left: auto;
    height: 80px;
    width: 1200px;
    padding-top: 0;

    .center {
      padding-left: 12px;
    }
  }

  .program-header {
    padding-left: 100px;
    padding-top: 110px;
    position: relative;
    height: 512px;

    &::after {
      content: "";
      position: absolute;
      top: -115px;
      left: 655px;
      height: 694px;
      width: 720px;
      background-size: cover;

      background-image: url("../../img/index-background-desktop.jpg");
      background-repeat: no-repeat;
      z-index: -2;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/index-background-desktop@2x.jpg");
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -115px;
      left: 655px;
      height: 694px;
      width: 720px;
      background: rgba(104, 183, 56, 0.85);
      z-index: -1;
    }
  }

  .program-header__img {
    left: 490px;
    top: 23px;
  }

  .program {
    margin-top: 0;
  }
}
