.program__item {
  background-color: $background-color-block;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 30px 30px 22px 20px;
}

.program__subtitle {
  font-family: $font;
  font-size: 24px;
  line-height: 1.5;
  color: $dark;
  margin-left: 91px;
  margin-top: 0;
}

.program__description {
  font-size: 14px;
  line-height: 1.3;
  padding-bottom: 23px;
  margin-bottom: 19px;
  box-shadow: 0 2px 0 0 $program__subtitle-shadow-color;
}

.program__link {
  font-family: $font;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  color: $dark;

  &:active {
    color: $nav-active-color;
  }
}

.program__list {
  display: flex;
  flex-direction: column;
}

.program__link-img {
  padding-left: 15px;
}

@media (min-width: $tablet-width) {
  .program__item {
    min-height: 238px;
    padding: 77px 52px 59px 52px;
  }

  .program__subtitle {
    margin-left: 0;
    font-size: 36px;
    line-height: 1;
  }

  .program__description {
    box-shadow: none;
    font-size: 16px;
    max-width: 377px;
  }

  .program__link {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .program__subtitle {
    margin-left: 162px;
    margin-bottom: 72px;
  }

  .program__item {
    min-width: 467px;
  }

  .program__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .program__description {
    min-width: 467px;
  }
}
