@import url(../css/normalize.css);
@font-face {
  font-family: "Oswald";
  src: url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&display=swap"); }

.page {
  box-sizing: border-box; }

.page__body {
  min-width: 320px;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  line-height: 0, 7;
  font-weight: 400;
  background-color: white;
  font-family: "Arial", sans-serif;
  background-position: top center;
  background-repeat: no-repeat;
  color: #444444; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.center {
  padding: 0 20px;
  margin: 0 auto; }

.page-header__wrapper {
  display: flex;
  justify-content: space-between; }

.program-header__wrapper {
  position: relative;
  color: white;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  height: 302px;
  width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center; }

.program-header__slogan {
  line-height: 14px; }

.program__item {
  background-color: #eaeaea; }

.program__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 0, 6;
  color: black; }

.program__description {
  font-size: 1; }

.program__link {
  font-family: "Oswald", "Arial", sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  color: black; }

.example__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  color: black; }

.advantages__item {
  margin: 0;
  padding: 0;
  list-style: none; }

.example {
  background-color: #eaeaea; }

.contacts__title {
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase; }

.contacts__text {
  line-height: 20px; }

.page-footer__bottom {
  background-color: #eaeaea; }

.form {
  font-family: "Oswald", "Arial", sans-serif; }

.form__title {
  color: black; }

.form__item {
  font-size: 16px;
  line-height: 0.8;
  text-transform: uppercase; }

.button {
  display: inline-block;
  background-color: #68B738;
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 0px;
  min-width: 280px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none; }

.catalog-item,
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.catalog-item__title {
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Oswald", "Arial", sans-serif; }

.catalog-item__list {
  font-size: 12px;
  line-height: 16px; }

.catalog__title {
  color: black; }

.main-header {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1; }

/*# sourceMappingURL=style.css.map */
