$white: white;
$special_dark-grey: #444444;
$background-color-block: #eaeaea;
$dark: black;
$background-color: rgba(104, 183, 56, 0.85);
$font: "Oswald", "Arial", sans-serif;
$font-medium: "Oswald medium", "Arial", sans-serif;
$button-color: #68b738;
$button-text-color: #ffffff;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
