.advantages {
  display: flex;
}

.advantages__subtitle {
  font-family: $font;
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  color: $dark;
}

.advantages__item {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 250px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
